*{
  @include prefixfree(box-sizing, border-box);
}

body{
  font-family: $f-base;
  font-size: $f-size;
  color: $f-color3;
}

a{
  text-decoration: none;
}

.clearfix{
  display: table;
  clear: both;
}

.page-wrapper{
  width: 320px;
  margin: 0 auto;
}