.page-footer{
	padding-top: 50px;

	&__title{
		margin-bottom: 50px;
		font-size: $f-size3;
		text-align: center;
		line-height: 1.5;
		color: $f-color2;
	}

	&__contacts-title{
		margin-bottom: 15px;
		font-size: $f-size2;
		font-weight: bold;
		text-align: center;
		color: $f-color2;
	}

	&__contacts-details{
		margin-bottom: 35px;
		font-size: $f-size3;
		text-align: center;
		color: $f-color4;
	}
	
	&__logo-link{
		display: block;
		width: 147px;
		height: 41px;
		margin: 0 auto;
		text-align: center;
		text-indent: -9999px;
		margin-bottom: 40px;
		background: url("../img/logotype-blue-tablet.svg") no-repeat 0 0;

		&:hover{
				background: url("../img/logotype-white-tablet-hover.svg") no-repeat;
			}

		&:active{
			background: url("../img/logotype-blue-tablet.svg") no-repeat left top;
			opacity: .3;
		}
	}
	
	

	&__map-wrap{
			position: relative;
			max-width: 100%;
			margin: 0 auto;

			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 30px;
				background: url("../img/triangle-white-footer.svg") no-repeat center center;
				background-size: 100% 30px;
			}
		}

		iframe{
			height: 200px;
			width: 100%;
			
		}	

	&__footer-block{
		padding: 40px 0;
	}

	&__social-block{
		overflow: hidden;
		margin-bottom: 40px;
	}
	
	&__social-list{
		text-align: center;
	}

	&__social-list li{
		display: inline-block;
		margin-right: 10px;
		
		a{
			display: block;
			height: 50px;
			width: 50px;
			text-indent: -9999px;
			border: 2px solid $borders;
			@include prefixfree(border-radius, 50px);
			border-radius: 50px;

			&:hover{
				border: 2px solid $bg-color1;
			}

			&:active{
				opacity: .1;
			}
		}
	}

	&__social-twitter-link{
			background: url("../img/twitter.svg") no-repeat center center;
		}

		&__social-facebook-link{
			background: url("../img/facebook.svg") no-repeat center center;
		}

		&__social-youtube-link{
			background: url("../img/youtube.svg") no-repeat 18px center;
		}

	
	&__developer{
		text-align: center;

		a{		
			position: relative;
			top: -7px;
			display: inline-block;
			width: 27px;
			height: 35px;
			vertical-align: text-top;
			margin-left: 15px;
			margin-bottom: 50px;
			text-indent: -9999px;
			background: url("../img/htmlacademy-static.svg") no-repeat 0 0;

			&:hover{
				background: url("../img/htmlacademy.svg") no-repeat 0 0;
			}

			&:active{
				opacity: .3;
			}
		}
	}

	.original{
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 480px) and (max-width: 1200px){

	.page-footer{
		padding: 0;


		&__title{
			margin: 55px 110px;
			font-size: 2.8571em;
			font-weight: 300;
			text-align: center;
			color: $f-color2;
		}
		
		&__contacts{
			text-align: center;
		}

		&__contacts-wrap{
			display: inline-block;
			margin-right: 34px;
			margin-left: 35px;

			&:last-child{
				margin: 0 200px;
			}
		}

		&__contacts-title{
			margin-bottom: 15px;
			font-size: 1.2em;
			font-weight: bold;
			text-align: center;
			color: $f-color2;
		}

		&__contacts-details{
			margin-bottom: 35px;
			font-size: $f-size3;
			text-align: center;
			color: #D53A64;
		}
		
		&__map-wrap{
			position: relative;
			max-width: 100%;
			margin: 0 auto;

			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 55px;
				background: url("../img/triangle-white-footer.svg") no-repeat center center;
				background-size: 100% 55px;
			}
		}
		
		iframe{
			height: 430px;
			width: 100%;
			
		}

		&__yandex-map{
			height: 430px;
			background: url("../img/triangle-white-footer.svg") top center no-repeat,
						url("../img/map-tablet.jpg") no-repeat center -420px;
			background-size: 100% 55px, 100% 848px;

			@media (min-resolution: 1.5dppx) {
				background: url("../img/triangle-white-footer.svg") no-repeat center top,
					   		url("../img/map-tablet@2x.jpg") no-repeat center -840px;
				background-size: 100% 30px, 100% 1696px;
			}
		}
		
		&__footer-block{
			display: block;
			padding: 40px 0;
			vertical-align: middle;

		}

		&__logo-link{
			display: inline-block;
			float: left;
			width: 160px;
			height: 50px;
			padding: 12px 0 0 40px;
			font-size: 2.2em;
			vertical-align: bottom;
			margin-right: 56px;
			margin-bottom: 0;
			background: url("../img/logotype-blue-tablet.svg") no-repeat;

			&:hover{
				background: url("../img/logotype-white-tablet-hover.svg") no-repeat;
			}

			&:active{
				background: url("../img/logotype-blue-tablet.svg") no-repeat;
				opacity: .3;
			}
		}
		
		&__social-block{
			display: inline-block;
			width: 195px;
			margin-right: 41px;
			margin-bottom: 0;
		}
		
		&__social-list{
			text-align: center;
		}

		&__social-list li{
			display: inline-block;
			margin-right: 11px;
			
			a{
				display: block;
				height: 50px;
				width: 50px;
				text-indent: -9999px;
				border: 2px solid $borders;
				@include prefixfree(border-radius, 50px);
			}
		}

		
		&__developer{
			display: inline-block;
			margin-left: 4px;
			padding-top: 20px;
			width: 160px;
			height: 50px;
			vertical-align: top;

			

			a{
				position: relative;
				top: -7px;
				display: inline-block;
				width: 27px;
				height: 34px;
				margin-left: 15px;
				text-indent: -9999px;
			}
		}

	}
}

@media (min-width: 1200px){

	.page-footer{
		padding: 0;

		&__title{
			margin: 65px 190px 75px;
			font-size: 50px;
			font-weight: 300;
			text-align: center;
			color: $f-color2;
		}
		
		&__contacts{
			display: flex;
			padding: 0;
			text-align: center;
		}

		&__contacts-wrap{
			flex-direction: column;
			width: 320px;
			margin: 0;
			padding: 0 10px;

			&:last-child{
				margin: 0;
			}

			&:nth-child(2){
				order: 1;
			}
		}

		&__contacts-title{
			margin-bottom: 15px;
			font-size: $f-size2;
			font-weight: bold;
			text-align: center;
			color: $f-color2;
		}

		&__contacts-details{
			margin-bottom: 35px;
			font-size: 24px;
			font-weight: 100;
			text-align: center;
			color: #D53A64;
		}
		
		&__map-wrap{
			position: relative;
			max-width: 100%;
			margin: 0 auto;

			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 70px;
				background: url("../img/triangle-white-footer.svg") no-repeat center center;
				background-size: 100% 70px;
			}
		}
		
		iframe{
			height: 520px;
			width: 100%;			
		}

		&__yandex-map{
			height: 520px;
			background: url("../img/triangle-white-footer.svg") no-repeat center top,
					    url("../img/map-desktop.jpg") no-repeat center -265px;
			background-size: 100% 130px, 100% 975px;	

			@media (min-resolution: 1.5dppx) {
				background: url("../img/triangle-white-footer.svg") no-repeat center top,
					    	url("../img/map-desktop@2x.jpg") no-repeat center -530px;
				background-size: 100% 260px , 100% 1950px;
			}	    

		}
		
		&__footer-block{
			display: block;
			padding: 40px 0px;
			vertical-align: middle;

		}

		&__logo-link{
			display: inline-block;
			float: left;
			width: 160px;
			height: 50px;
			padding: 12px 0 0 40px;
			font-size: 2.2em;
			vertical-align: bottom;
			text-indent: -9999px;
			margin-right: 220px;
			margin-bottom: 0;
			background: url("../img/logotype-blue-desktop.svg") no-repeat left top;

			&:hover{
				background: url("../img/logotype-white-desktop-hover.svg") no-repeat;
			}

			&:active{
				background: url("../img/logotype-blue-desktop.svg") no-repeat left top;
				opacity: .3;
			}
		}
		
		&__social-block{
			display: inline-block;
			width: 195px;
			margin-bottom: 0;
		}
		
		&__social-list{
			text-align: center;
		}

		&__social-list li{
			display: inline-block;
			margin-right: 11px;
			
			a{
				display: block;
				height: 50px;
				width: 50px;
				text-indent: -9999px;
				border: 2px solid $borders;
				@include prefixfree(border-radius, 50px);
			}
		}

		
		&__developer{
			display: inline-block;
			margin-left: 201px;
			padding-top: 20px;
			width: 160px;
			height: 50px;
			vertical-align: top;
		}

	}

}