.blog-section{

	padding: 0;

	&__blog-wrap{
		padding: 40px 0;
		border-top: 1px solid #E5E5E5;
	}

	&__blog-wrap:first-child{
		border: none;
	}

	&__blog-title{
		margin-bottom: 15px;
		font-size: $f-size2;
		font-weight: bold;
		color: #000000;
	}

	&__publish-date{
		margin-bottom: 35px;
		font-size: 12px;
		color: #D53A64;;
	}
	
	&__description{
		line-height: 27px;
	}

}

.pagination {
	position: relative;
	margin-bottom: 40px;
    float: left;

	&:before{
		content: "СТР.";
		position: absolute;
		top: 21px;
		left: -60px;
		display: none;
		font-size: $f-size2;
		font-weight: bold;
		color: $f-color2;
	}

	li{
		float: left;
		margin-right: 10px;
		border: 2px solid $borders;
				
		&:last-child{
			margin-right: 0;
		}

		&:hover{
			border: 2px solid $red-border; 
		}
	}	
			
	a{
		display: block;
		width: 56px;
		margin-right: 0px;
		margin-left: 0px;
		line-height: 56px;
		text-align: center;
		color: $f-color2;
	}
}

	li.pagination__list-active{
		border: 2px solid $red-border; 
	}

.page-footer__footer-block{
	display: block;
}	


@media (min-width: 480px) and (max-width: 1200px) {

	.blog-section{

		padding: 50px 60px 0;

		&__blog-wrap{
			padding: 50px 0;
			padding-bottom: 0;
			border-top: 2px dotted $borders;
		}

		&__blog-wrap:first-child{
			border: none;
		}

		&__blog-title{
			position: relative;
			margin-bottom: 20px;
			font-size: 27px;
			font-weight: bold;
			color: $f-color2;

			&:before{
				content: "";
				position: absolute;
				top: 5px;
				left: -60px;
				display: block;
				width: 28px;
				height: 26px;
				background: url("../img/post-icon.svg");
			}
		}

		&__publish-date{
			margin-bottom: 40px;
			font-size: $f-size;
			color: #D53A64;
		}

		&__description{
			margin-bottom: 50px;
			font-size: $f-size2;
			line-height: 30px;
		}

	}	
	


.pagination{
	margin-left: 60px; 

	&:before{
		content: "СТР.";
		position: absolute;
		top: 21px;
		left: -60px;
		display: block;
		font-size: $f-size2;
		font-weight: bold;
		color: $f-color2;
	}
}

}

@media (min-width: 1200px){
	.blog-section{

		padding: 50px 60px 0;

		&__blog-wrap{
			padding: 50px 0;
			border-top: 2px dotted $borders;
		}

		&__blog-wrap:first-child{
			border: none;
		}

		&__blog-title{
			position: relative;
			margin-bottom: 20px;
			font-size: 27px;
			font-weight: bold;
			color: $f-color2;

			&:before{
				content: "";
				position: absolute;
				top: 5px;
				left: -50px;
				width: 28px;
				height: 26px;
				background: url("../img/post-icon.svg");
			}
		}

		&__publish-date{
			margin-bottom: 40px;
			font-size: 1em;
			color: #D53A64;;
		}

		&__description{
			margin-bottom: 50px;
			font-size: 18px;
			line-height: 30px;
		}

	}

	.pagination{
		margin-left: 60px; 

		&:before{
			content: "СТР.";
			position: absolute;
			top: 21px;
			left: -60px;
			display: block;
			font-size: $f-size2;
			font-weight: bold;
			color: $f-color2;
		}
	}
}		
