.blog-section{
	padding: 0 20px;

	&__blog-wrap{
		padding: 35px 0;
		border-top: 1px solid #E5E5E5;
	}

	&__blog-wrap:first-child{
		border: none;
	}

	&__blog-title{
		margin-bottom: 20px;
		font-size: 1.2em;
		color: $f-color2;
	}

	&__publish-date{
		margin-bottom: 35px;
		font-size: .8em;
		color: #D53A64;;
	}

	&__pagination{
		margin-top: 25px;
	}

	&__pagination-list li{
		float: left;
		
		& a{
			display: block;
			width: 60px;
			margin-right: 5px;
			margin-left: 5px;
			line-height: 60px;
			text-align: center;
			border: 2px solid #E5E5E5;
		}
	}


}