.comments-section{
	//@include prefixfree (box-sizing, content-box);
	
	overflow: hidden;
	
	&__container{
		width: 960px;
	}

	&__comment-wrap{
		float: left;
		width:320px;
		padding: 50px 0;
	}

	&__title{
		margin-bottom: 30px;
		text-align: center;
	}

	&__comment{
		text-align: center;
	}

	&__bullets-block{

		i{
			display: block;
		}
	}
}