.page-footer{
	padding-top: 50px;

	&__title{
		margin-bottom: 50px;
		font-size: 1.7em;
		text-align: center;
		color: $f-color2;
	}

	&__contacts-title{
		margin-bottom: 15px;
		font-size: 1.2em;
		font-weight: bold;
		text-align: center;
		color: $f-color2;
	}

	&__contacts-details{
		margin-bottom: 35px;
		font-size: 1.7em;
		text-align: center;
		color: #D53A64;
	}

	&__yandex-map{
		height: 200px;
		background: url("../img/bg-map.jpg");
	}
	
	&__logo-link{
		display: block;
		text-align: center;
		margin-bottom: 45px;

		img{
			height: 40px;
			width:145px;
		}

	}
	
	&__social-block{
		overflow: hidden;
		margin-bottom: 45px;
	}
	
	&__social-list{
	
		text-align: center;
	}

	&__social-list li{
		display: inline-block;
		margin-right: 10px;
		
		a{
			display: block;
			height: 50px;
			width: 50px;
			text-indent: -9999px;
			border: 2px solid $borders;
			@include prefixfree(border-radius, 50px);
		}
	}

	
	&__developer{
		text-align: center;
	}
}