.page-footer{
	padding-top: 50px;

	&__title{
		margin-bottom: 50px;
		font-size: 1.7em;
		text-align: center;
		color: $f-color2;
	}

	&__contacts-title{
		margin-bottom: 15px;
		font-size: 1.2em;
		font-weight: bold;
		text-align: center;
		color: $f-color2;
	}

	&__contacts-details{
		margin-bottom: 35px;
		font-size: 1.7em;
		text-align: center;
		color: #D53A64;
	}

	&__yandex-map{
		height: 200px;
		background: url("../img/bg-map.jpg");
	}
	
	&__logo-link{
		display: block;
		text-align: center;
		margin-bottom: 45px;

		img{
			height: 40px;
			width:145px;
		}

	}
	
	&__social-block{
		overflow: hidden;
		margin-bottom: 45px;
	}
	
	&__social-list{
	
		text-align: center;
	}

	&__social-list li{
		display: inline-block;
		margin-right: 10px;
		
		a{
			display: block;
			height: 50px;
			width: 50px;
			text-indent: -9999px;
			border: 2px solid $borders;
			@include prefixfree(border-radius, 50px);
		}
	}

	
	&__developer{
		text-align: center;
	}
}

@media (min-width: 480px){

	.page-footer{
		padding: 0;


		&__title{
			margin: 55px 140px;
			font-size: 2.8571em;
			font-weight: 300;
			text-align: center;
			color: $f-color2;
		}
		
		&__contacts{
			text-align: center;
		}

		&__contacts-wrap{
			display: inline-block;
			margin-right: 50px;
			margin-left: 50px;

			&:last-child{
				margin: 0 220px;
			}
		}

		&__contacts-title{
			margin-bottom: 15px;
			font-size: 1.2em;
			font-weight: bold;
			text-align: center;
			color: $f-color2;
		}

		&__contacts-details{
			margin-bottom: 35px;
			font-size: 1.7em;
			font-weight: 100;
			text-align: center;
			color: #D53A64;
		}
		
		&__map-wrap{
			position: relative;

			&:before{
				content: "";
				position: absolute;
				top: 0px;
				left: 0;
				border: 350px solid transparent;
				border-top: 70px solid #ffffff;
			}
		}

		&__yandex-map{
			height: 430px;
			background: url("../img/bg-map02.jpg");
		}
		
		&__footer-block{
			padding: 40px;
			vertical-align: middle;

		}

		&__logo-link{
			display: inline-block;
			float: left;
			width: 160px;
			height: 50px;
			padding: 12px 0 0 40px;
			font-size: 2.2em;
			vertical-align: bottom;
			margin-right: 56px;
			margin-bottom: 0;
			background: url("../img/icon-footer-logo.png") no-repeat left top;

			&:hover{
				color: $f-color4;
			}

			&:active{
				opacity: .3;
			}
		}
		
		&__social-block{
			display: inline-block;
			width: 195px;
			margin-right: 41px;
			margin-bottom: 0;
		}
		
		&__social-list{
			text-align: center;
		}

		&__social-list li{
			display: inline-block;
			margin-right: 11px;
			
			a{
				display: block;
				height: 50px;
				width: 50px;
				text-indent: -9999px;
				border: 2px solid $borders;
				@include prefixfree(border-radius, 50px);
			}
		}

		
		&__developer{
			display: inline-block;
			margin-right: -4px;
			width: 160px;
			height: 50px;
			vertical-align: middle;

			

			a{
				position: relative;
				top: -7px;
				display: inline-block;
				width: 27px;
				height: 34px;
				margin-left: 15px;
				background: url("../img/icon-htmlacademy.png") no-repeat 0 0;
				text-indent: -9999px;
			}
		}

	}

}

@media (min-width: 1200px){

	.page-footer{
		padding: 0;


		&__title{
			margin: 65px 320px 75px;
			font-size: 2.8571em;
			font-weight: 300;
			text-align: center;
			color: $f-color2;
		}
		
		&__contacts{
			display: flex;
			padding: 0 120px;
			text-align: center;
		}

		&__contacts-wrap{
			flex-direction: column;
			width: 320px;
			margin: 0;

			&:last-child{
				margin: 0;
			}

			&:nth-child(2){
				order: 1;
			}
		}

		&__contacts-title{
			margin-bottom: 15px;
			font-size: $f-size2;
			font-weight: bold;
			text-align: center;
			color: $f-color2;
		}

		&__contacts-details{
			margin-bottom: 35px;
			font-size: 24px;
			font-weight: 100;
			text-align: center;
			color: #D53A64;
		}
		
		&__map-wrap{
			position: relative;
		}

		&__yandex-map{
			height: 430px;
			background: url("../img/bg-map02.jpg");
		}
		
		&__footer-block{
			padding: 40px 120px;
			vertical-align: middle;

		}

		&__logo-link{
			display: inline-block;
			float: left;
			width: 170px;
			height: 50px;
			padding: 12px 0 0 40px;
			font-size: 2.2em;
			vertical-align: bottom;
			margin-right: 220px;
			margin-bottom: 0;
			background: url("../img/icon-footer-logo.png") no-repeat left top;

			&:hover{
				color: $f-color4;
			}

			&:active{
				opacity: .3;
			}
		}
		
		&__social-block{
			display: inline-block;
			width: 195px;
			margin-bottom: 0;
		}
		
		&__social-list{
			text-align: center;
		}

		&__social-list li{
			display: inline-block;
			margin-right: 11px;
			
			a{
				display: block;
				height: 50px;
				width: 50px;
				text-indent: -9999px;
				border: 2px solid $borders;
				@include prefixfree(border-radius, 50px);
			}
		}

		
		&__developer{
			display: inline-block;
			margin-left: 210px;
			width: 160px;
			height: 50px;
			vertical-align: middle;

			

			a{
				position: relative;
				top: -7px;
				display: inline-block;
				width: 27px;
				height: 34px;
				margin-left: 15px;
				background: url("../img/icon-htmlacademy.png") no-repeat 0 0;
				text-indent: -9999px;
			}
		}

	}

}
