.page-header{
	position: relative;
	color: $f-color1;
	background: $bg-color1 url("../img/bg-header.jpg") no-repeat 0 0;

	&__wrap{
		width: 100%;
		padding: 20px;
		background: rgba(0, 0, 0, .4);
	}

	&__logo{
		float: left;
	}

	&__logo-link{
		font-size: 30px;
		color: $f-color1;
	}
	
	&__promo{
		padding: 0 20px;
	}

	&__promo-wrap{
		margin-top: 350px;
		padding: 0 0 25px;
	}

	&__promo-title{
		margin-top: 30px;
		font-size: 1.7em;
		text-align: center;
	}

	&__download-btn{
		display: block;
		line-height: 50px;
		text-align: center;
		font-size: 1.2em;
		color: $f-color1;
		border: 3px solid $bg-color2;
		@include prefixfree(border-radius, 50px);
	}

	&__operation-system-section{
		margin-top: 30px;
	}

	&__operation-system-list{
		overflow: hidden;

		li{
			float: left;

			img{
			height: 60px;
			width: 60px;
			}

		}
	}

	&__operation-system-availability{
		margin-top: 45px;
		text-align: center;
		clear: both;
	}

	&__title{
		padding: 45px 20px 50px;
		font-size: 1.7em;
		font-weight: 100;
		text-align: center;
		color: $f-color1;
	}
}

.main-nav{
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
	
	&__list{
		display: none;
	}

	&__list li{
		border-top: 1px solid #485461;
		border-bottom: 1px solid #000000;
		background-color: lighten($bg-color1, 5%);
	}

	&__list li a{
		display: block;
		padding: 25px 0;
		font-family: $f-base;
		font-size: 18px;
		color: $f-color1;
		text-align: center;
	}

	&__toggle{
		position: absolute;
		top: -40px;
		right: 20px;
		display: block;
		width: 20px;
		height: 20px;
		color: $f-color1;
	}
}