.page-header{
	position: relative;
	color: $f-color1;
	background: url("../img/background-mobile@1x.jpg") no-repeat top center, $bg-color1;
	background-size: auto;		    

	@media (min-resolution: 1.5dppx) {
			background: url("../img/iphone-hand-mobile@2x.png") no-repeat 60px 202px,
			    	    url("../img/background-mobile@1x.jpg") no-repeat top center, $bg-color1;
			}

	&__wrap{
		padding: 20px 0;
		background: rgba(0, 0, 0, .4);

		.page-wrapper{
			overflow: hidden;
		}
	}

	&__logo{
		float: left;
	}

	&__logo-link{
		width: 75px;
		height: 25px;
		text-transform: uppercase;
		font-size: 32px;
		color: $f-color1;

		&:hover{
			color: $f-color4;
		}

		&:active{
			color: $f-color1;
			opacity: .3; 
		}
		
	}

	&__toggle{
		display: block;
		width: 50px;
		height: 25px;
		float: right;
		margin-top: 5px;
		text-indent: -9999px;
		background: url("../img/menu-burger.svg") no-repeat;
		color: $f-color1;

		&:hover{
			background: url("../img/menu-burger-hover.svg") no-repeat;
			}

			&:active{
				background: url("../img/menu-burger-hover.svg") no-repeat;
			}
	}
	
	&__promo{
		padding: 0;
		
	}

	.second-background{
		background: url("../img/iphone-hand-mobile.png") no-repeat left 100px;

		@media (min-resolution: 1.5dppx) {
			background: url("../img/iphone-hand-mobile@2x.png") no-repeat left 100px,
			}	
	}

	&__promo-wrap{
		margin-top: 350px;
		padding: 0 0 25px;
	}

	&__promo-title{
		margin-top: 30px;
		font-size: $f-size3;
		text-align: center;
		line-height: 1.5;
	}

	&__download-btn{
		display: block;
		line-height: 50px;
		text-align: center;
		font-size: $f-size2;
		font-weight: bold;
		color: $f-color1;
		border: 3px solid $bg-color2;
		@include prefixfree(border-radius, 50px);

		&:hover{
			background: $bg-color2;
			color: $f-color4;
		}

		&:active{
			color: rgba(210,40,86, .3);
		}
	}

	&__operation-system-section{
		margin-top: 45px;
	}

	&__operation-system-list{
		overflow: hidden;

		li{
			float: left;
			margin-right: 20px;
			margin-left: 20px;

			img{
			height: 50px;
			width: 50px;
			}

		}
	}

	&__operation-system-availability{
		margin-top: 30px;
		margin-bottom: 35px;
		text-align: center;
		line-height: 24px;
		clear: both;
	}

	&__title{
		padding: 45px 0 50px;
		font-size: $f-size3;
		font-weight: 100;
		text-align: center;
		color: $f-color1;
	}
}

.main-nav{
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
	
	&__list{
		display: none;
	}

	&__list li{
		border-top: 1px solid #485461;
		border-bottom: 1px solid #000000;
		background-color: lighten($bg-color1, 5%);
	}

	&__list li a{
		display: block;
		padding: 25px 0;
		font-family: $f-base;
		font-size: 18px;
		color: $f-color1;
		text-align: center;
	}
}

@media (min-width: 480px) and (max-width: 1200px) {

	.page-header{
		position: relative;
		color: $f-color1;
		background: url("../img/background-tablet@1x.jpg") no-repeat top center, $bg-color1;
		background-size: cover;			

		&__wrap{
			width: 100%;
			padding: 45px 0;
			background: rgba(0, 0, 0, .4);
		}

		&__logo{
			float: left;
		}

		&__logo-link{
			display: block;
			width: 147px;
			height: 41px;
			text-indent: -9999px;
			color: $f-color1;
			background: url("../img/logotype-white-tablet.svg") no-repeat;

			&:hover{
				background: url("../img/logotype-white-tablet-hover.svg") no-repeat;
			}

			&:active{
				background: url("../img/logotype-white-tablet.svg") no-repeat;
				opacity: .3;
			}
		}
		
		&__toggle{
			display: block;
			width: 50px;
			height: 25px;
			float: right;
			margin-top: 16px;
			text-indent: -9999px;
			background: url("../img/menu-burger.svg");
			color: $f-color1;

			&:hover{
				background: url("../img/menu-burger-hover.svg");
			}

			&:active{
				background: url("../img/menu-burger.svg");
				opacity: .3;
			}
		}

		.second-background{
			overflow: hidden;
			background: url("../img/iphone-hand-tablet@1x.png") no-repeat -6px bottom;

		@media (min-resolution: 1.5dppx) {
			background: url("../img/iphone-hand-mobile@2x.png") no-repeat -6px bottom;
			}	
		}

		&__promo{
			width: 300px;
			float: left;
			padding: 0;
		}

		&__promo-wrap{
			margin: 0;
			padding: 0 0 115px;
		}

		&__promo-title{
			margin-top: 130px;
			margin-bottom: 25px;
			padding: 0;
			font-size: 50px;
			line-height: 1;
			font-weight: 100;
			text-align: center;
		}

		&__download-btn{
			display: block;
			line-height: 50px;
			text-align: center;
			font-size: 1.2em;
			font-weight: bold;
			color: $f-color1;
			border: 3px solid $bg-color2;
			@include prefixfree(border-radius, 50px);

			&:hover{
				background: $bg-color2;
				color: $f-color4;
			}

			&:active{
				color: rgba(210,40,86, .3);
			}
		}

		&__operation-system-section{
			margin-top: 55px;
		}

		&__operation-system-list{
			text-align: center;

			li{
				display: inline-block;
				margin-right: 16px;
				margin-left: 16px;

				img{
					height: 60px;
					width: 60px;
				}

			}
		}

		&__operation-system-availability{
			width: 300px;
			margin-top: 45px;
			margin-bottom: 0;
			font-size: $f-size2;
			font-weight: 100;
			text-align: center;
			line-height: 24px;
			clear: both;
		}

		&__title{
			padding: 80px 14px 80px;
			font-size: 50px;
			line-height: 60px;
			font-weight: 100;
			text-align: center;
			color: $f-color1;
		}
	}	

	.main-nav{
		position: absolute;
		top: 131px;
		left: 0;
		width: 100%;
		
		&__list{
			display: none;
		}

		&__list li{
			border-top: 1px solid #485461;
			border-bottom: 1px solid #000000;
			background-color: lighten($bg-color1, 5%);
		}

		&__list li a{
			display: block;
			padding: 25px 0;
			font-family: $f-base;
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
			color: $f-color1;
			text-align: center;
		}

		

	}
}	

@media(min-width: 1200px) {

	.page-header{
		position: relative;
		color: $f-color1;
		background: url("../img/background-fullsize.jpg") top center;	
		background-size: cover;

		@media (min-resolution: 1.5dppx) {
			background: url("../img/background-fullsize.jpg") center center;	
			background-size: cover;
			}	

		&__wrap{
			width: 100%;
			padding: 30px 0 45px;
			background: rgba(0, 0, 0, .4);
		}

		&__logo{
			float: left;
			margin-right: 160px;
		}

		&__logo-link{
			display: block;
			width: 160px;
			height: 44px;
			text-indent: -9999px;
			font-size: 30px;
			color: $f-color1;
			background: url("../img/logotype-white-desktop.svg") no-repeat;

			&:hover{
				background: url("../img/logotype-white-desktop-hover.svg") no-repeat;
			}

			&:active{
				background: url("../img/logotype-white-desktop.svg") no-repeat;
				opacity: .3;
			}
		}
		
		.second-background{
			overflow: hidden;
			background: url("../img/iphone-hand-desktop.png") no-repeat 130px bottom;

			@media (min-resolution: 1.5dppx) {
				background: url("../img/iphone-hand-desktop@2x.png") no-repeat -6px bottom;
				}	
		}

		&__promo{
			width: 300px;
			padding: 0;
		}

		&__promo-wrap{
			margin: 0;
			padding: 0 0 70px;
		}

		&__promo-title{
			width: 300px;
			margin-top: 105px;
			margin-bottom: 60px;
			padding: 0 25px;
			font-size: 50px;
			font-weight: 300;
			text-align: center;
		}

		&__download-btn{
			display: block;
			width: 300px;
			margin-bottom: 75px;
			line-height: 50px;
			text-align: center;
			font-size: $f-size2;
			font-weight: bold;
			color: $f-color1;
			border: 3px solid $bg-color2;
			@include prefixfree(border-radius, 50px);

			&:hover{
				background: $bg-color2;
				color: $f-color4;
			}

			&:active{
				color: rgba(210,40,86, .3);
			}
		}

		&__operation-system-section{
			margin-top: 0;
			margin-bottom: 60px;
		}

		&__operation-system-list{
			padding: 0 47px;
			text-align: center;

			li{
				display: inline-block;
				margin-right: 35px;
				margin-left: 0;

				&:last-child{
					margin-right: 0;
				}

				img{
					height: 45px;
					width: 45px;
				}

			}
		}

		&__operation-system-availability{
			width: 300px;
			
			font-size: $f-size2;
			font-weight: 100;
			text-align: center;
			line-height: 24px;
			clear: both;
		}

		&__title{
			padding: 75px 112px 110px;
			font-size: 50px;
			line-height: 60px;
			font-weight: 100;
			text-align: center;
			color: $f-color1;
		}

		&__toggle{
			display: none;
		}
	}	

	.main-nav{
		position: static;
		width: 620px;
		float: right;
		padding-top: 18px;

		&__list{
			display: block;
		}

		&__list li{
			float: left;
			margin-right: 70px;
			border: none;
			background: transparent;

			&:last-child{
				margin-right: 0;
			}
		}

		&__list li a{
			display: block;
			padding: 0;
			padding-bottom: 5px;
			font-family: $f-base;
			font-size: $f-size2;
			font-weight: normal;
			color: $f-color1;
			text-align: center;
			border: none;
			background: transparent;
			
			&:hover{
				border-bottom: 2px solid #FFFFFF;
			}

			&:active{
				border: none;
				opacity: .3;
			}
		}

		

	}

}