.page-form{
	
	label, input{
		display: block;
		padding: 0;
	}

	&__description{
		padding: 50px 20px;
		line-height: 30px;
		text-align: center;
	}

	&__personal-data-section{
		padding: 0 20px 20px;

		div{
			margin-bottom: 25px;
		}
	}
	
	&__firstname-block,
	&__lastname-block,
	&__middlename-block{
		
		label{
			margin-bottom: 20px;
			padding-left: 20px;
			text-transform: uppercase;
			color: $f-color4;
			}

		input{
			width: 100%;
			padding-left: 20px;
			font-size: $f-size2;
			line-height: 60px;
			border: 3px solid $borders;
			@include prefixfree(border-radius, 3px);
		}		
	}		

	&__application-section{
		padding: 0 20px;
		float: left;
		width: 100%;
		background: $bg-color3;

		div{
			margin-bottom: 55px;
		}

		label,
		input{
			display: inline-block;
		}

		input{
			display: none;
		}

		label{
			position: relative;
			padding-left: 60px;
			font-size: $f-size2;

			&::before{
				content: "";
				position: absolute;
				left: 0;
				top: -13px;
				display: block;
				width: 40px;
				height: 40px;
				border: 3px solid $borders;
				@include prefixfree(border-radius, 50px);
				background: $bg-color2;
			}
		}

		input[type="radio"]:checked ~ label::after{
			content: "";
			position: absolute;
			left: 15px;
			top: 2px;
			display: block;
			border: 8px solid $red-border;
			@include prefixfree(border-radius, 50px);
		}
	}

	&__application-title{
		margin: 40px 0 55px;
		color: $f-color4;
		text-align: center;
		text-transform: uppercase;
	}
	
	&__travel-title{
		margin: 40px 0 35px;
		color: $f-color4;
		text-align: center;
		text-transform: uppercase;
	}

	&__travel-section{
		float: left;
		width: 100%;
		padding: 0 20px 50px;

		div{
			margin-bottom: 25px;
		}

		label{
			text-align: center;
			text-transform: uppercase;
			color: $f-color4;
		}

		input{
			width: 100%;
			margin-bottom: 20px;
			padding-left: 20px;
			font-size: $f-size2;
			line-height: 60px;
			border: 3px solid $borders;
			@include prefixfree(border-radius, 3px);
		}
		
	}	

	&__duration-field{
		width: 160px;
	}

	&__companion-section{
		float: left;
		width: 100%;
		padding: 40px 20px 45px;
		background: $bg-color3;
	}

	&__companion-title{
		margin-bottom: 40px;
		text-align: center;
		text-transform: uppercase;
		color: $f-color4;
	}

	&__companion-number{
		float: left;
		margin-bottom: 50px;
		border-bottom: 3px solid $borders;
	}

	&__companion-counter{
		float: left;
		border: 3px solid $borders;
		margin-bottom: 45px;

		span{
			float: left;
			display: block;
			width: 60px;
			line-height: 60px;
			text-align: center;
			font-size: 3em;
			font-weight: bold;
			color: $f-color3;
			background: $bg-color2;
			cursor: pointer;
		}

		input{
			float: left;
			display: block;
			width: 154px;
			font-size: $f-size2;
			text-align: center;
			text-transform: uppercase;
			vertical-align: middle;
			line-height: 60px;
			border: 3px solid $borders;
			border-top: none;
			border-bottom: none;
			background: $bg-color3;
		}
	}

	&__companion-block{
			float: left;
			width: 100%;
			margin-bottom: 25px;
			
			span{
				position: relative;
				float: left;
				display: block;
				width: 60px;
				line-height: 60px;
				text-align: center;
				font-weight: bold;
				font-size: $f-size2;
				color: $f-color2;
				border: 3px solid $borders;
				border-right: none;

				&::before{
					content: "№";
					position: absolute;
					top: -57px;
					left: 20px;
					font-weight: normal;
					color: $f-color4;
				}
			}

		label{
			margin-bottom: 15px;
			padding-left: 83px;
			text-transform: uppercase;
			color: $f-color4;
		}

		input{
			float: right;
			width: 220px;
			margin-bottom: 20px;
			padding-left: 20px;
			font-size: $f-size2;
			line-height: 60px;
			border: 3px solid $borders;
			@include prefixfree(border-radius, 3px);
		}
	}

	&__achievements{
		
		float: left;
		padding: 60px 20px 0;
	}	

	&__achievements-title{
			margin-bottom: 55px;
			font-size: $f-size2;
			text-align: center;
			text-transform: uppercase;
			color: $f-color4;
	}	

	&__achievement-block{

		margin-bottom: 70px;

		input,
		label{
			display: inline-block;
		}

		input{
			display: none;
		}

		label{
			position: relative;
			padding-left: 60px;
			font-size: $f-size2;

			&::before{
				content: "";
				position: absolute;
				left: 0;
				top: -13px;
				display: block;
				width: 40px;
				height: 40px;
				border: 3px solid $borders;
				@include prefixfree(border-radius, 5px);
			} 


		}

		input[type="checkbox"]:checked ~ label::after{
			content: "";
			position: absolute;
			top: -5px;
			left: 17px;
			width: 10px;
			height: 20px;
			border: 3px solid $red-border;
			border-left: none;
			border-top: none;
			@include prefixfree(transform, rotate(40deg));
		} 

	}

	&__photos-section{
		float: left;
		width: 100%;
		padding: 0 20px;
		background: $bg-color3;
	}
		
	&__download-block{
		border-bottom: 3px solid $borders;
	}

	&__download-title{
		margin: 40px 0;
		text-align: center;
		text-transform: uppercase;
		color: $f-color4;
	}

	&__download-btn{
		display: block;
		width: 100%;
		margin-bottom: 35px;
		line-height: 60px;
		font-weight: normal;
		font-size: $f-size2;
		color: $f-color2;
		text-align: center;
		text-transform: uppercase;
		border: 3px solid $borders;
		@include prefixfree(border-radius, 5px);
		background: $bg-color2;
	}

	&__photos-block{
		width: 320px;
		padding-top: 35px;
		padding-bottom: 20px;

		figure{
			position: relative;
			display: inline-block;
			margin-right: 36px;
			margin-bottom: 25px;


			&::after{
					content: " ";
					position: absolute;
					top: -17px;
					right: -17px;
					width: 34px;
					height: 34px;
					background: url("../img/icon-cross.png");
					cursor: pointer;
				}
			

			img{
				width: 68px;
				height: 68px;
				margin-bottom: 10px;
			}

			figcaption{
				text-transform: uppercase;
			}
		}	
		
	}
	
	

	&__send-form-btn{
		float: left;
		display: block;
		width: 100%;
		margin: 45px 0;
		border: none;
		line-height: 60px;
		font-size: $f-size2;
		font-weight: normal;
		text-transform: uppercase;
		color: $f-color1;
		@include prefixfree(border-radius, 3px);
		background: #2AAB6D;
	}
	
	&__required-fields{
		text-align: center;

		span{
			color: $f-color4;
		}
	}
}