.post{
	padding: 0;
	
	&__intro{
		padding-top: 45px;
		padding-bottom: 30px;
		text-align: center;
		border-bottom: 1px solid $borders;
	}

	&__title{
		margin-bottom: 35px;
		font-size: 2.1429em;
		line-height: 36px;	
	}

	&__publish-date{
		margin-bottom: 35px;
		font-size: $f-size - 2;
		text-transform: uppercase;
		color: $f-color4;
	}

	&__description{
		font-size: $f-size + 2;
		line-height: 27px;
	}

	&__publish-date-tablet{
		display: none;
	}

	&__story{
		padding-top: 35px;
		padding-bottom: 75px;

		h2{
			margin-bottom: 40px;
			font-size: $f-size2;
			text-transform: uppercase;
		}

		p{
			margin-bottom: 45px;
			font-size: $f-size - 1;
			line-height: 27px;

			a{
				text-decoration: underline;
				color: $f-color4;
			}

		}
		
		ul{
			margin: 50px 0;

			li{
				position: relative;
				margin-bottom: 45px;
				padding-left: 20px;

				&:before{
					content:"";
					position: absolute;
					top: 6px;
					left: 0;
					display: block;
					border: 3px solid $red-border;
					@include prefixfree(border-radius, 50px);
				}
			}
		}

		blockquote{
			margin-bottom: 45px;
			padding-right: 20px;
			padding-left: 20px; 
			line-height: $lh-base + .7129;
			border-left: 2px solid $red-border;

			cite{
				display: block;
				font-style: italic;
				color: #8A8A8A;
			}
		}

	}
	
	&__btn-section{
		margin-bottom: 60px;
		float: left;
	}

	&__btn-section-list{
		

		li{
			float: left;
		}
	}
	
	&__btn-section-prev,
	&__btn-section-next{
		display: block;
		width: 130px;
		margin-bottom: 20px;
		font-size: $f-size + 4;
		font-weight: bold;
		color: $f-color3;
		text-transform: uppercase;
		line-height: 60px;
		text-align: center;
		border: 2px solid $borders;
	}
	
	&__btn-section-prev{
		margin-right: 20px;
	}

	&__btn-section-back-to-list{
		display: block;
		width: 280px;
		font-size: $f-size + 4;
		font-weight: bold;
		color: $f-color3;
		text-transform: uppercase;
		line-height: 60px;
		text-align: center;
		border: 2px solid $borders;
	}

	&__btn-section-tablet{
		display: none;
	}
}

@media (min-width: 480px) and (max-width: 1200px) {

	.post{
		padding: 0;
		
		&__intro{
			padding-top: 80px;
			padding-bottom: 55px;
			text-align: center;
			border: none;
		}

		&__title{
			margin-bottom: 50px;
			font-size: 50px;
			font-weight: bold;
			line-height: 60px;	
		}

		&__publish-date{
			display: none;
		}
		
		&__description{
			margin-bottom: 45px;
			font-size: $f-size3;
		}

		&__publish-date-tablet{
			position: relative;
			display: block;
			width: 300px;
			margin: 0 auto;
			font-size: $f-size;
			text-transform: uppercase;
			color: $f-color4;

			&::before,
			&::after{
				content: "";
				position: absolute;
				top: 6px;
				width: 160px;
				height: 2px;
				border-bottom: 2px dotted $borders;
			}

			&::before{
				left: -160px;
			}

			&::after{
				right: -160px;
			}
		}

		&__story{
			padding-top: 35px;
			padding-bottom: 0;

			h2{
				margin-bottom: 40px;
				font-size: $f-size3;
				font-weight: bold;
				text-transform: uppercase;
				color: #283645;
			}

			p{
				margin-bottom: 45px;
				font-size: $f-size2;
				line-height: 30px;

				a{
					text-decoration: underline;
					color: $f-color4;
				}

			}
			
			ul{
				margin: 50px 0;

				li{
					position: relative;
					margin-bottom: 45px;
					padding-left: 20px;
					font-size: $f-size2;

					&:before{
						content:"";
						position: absolute;
						top: 6px;
						left: 0;
						display: block;
						border: 3px solid $red-border;
						@include prefixfree(border-radius, 50px);
					}
				}
			}

			blockquote{
				margin-bottom: 45px;
				padding-right: 80px;
				padding-left: 35px;
				font-size: $f-size2; 
				line-height: 30px;
				border-left: 2px solid $red-border;

				cite{
					display: block;
					font-size: $f-size2;
					font-style: italic;
					color: #8A8A8A;
				}
			}

		}

		&__btn-section-list{
			display: none;
		}

		&__btn-tablet-list{
			float: left;
			margin-top: 15px;

			li{
				float: left;
				margin-right: 0;
			}
		}
		
		&__btn-tablet-prev,
		&__btn-tablet-next{
			display: block;
			width: 140px;
			margin-bottom: 20px;
			font-size: $f-size2;
			font-weight: bold;
			color: $f-color3;
			text-transform: uppercase;
			line-height: 60px;
			text-align: center;
			border: 2px solid $borders;
		}
		
		&__btn-tablet-prev{
			margin-right: 20px;
		}

		&__btn-tablet-next{
			margin-right: 0;
		}
		
		&__btn-section-tablet{
			display: block;
		}

		&__btn-tablet-back-to-list{
			display: block;
			width: 300px;
			margin-right: 20px;
			font-size: $f-size2;
			font-weight: bold;
			color: $f-color3;
			text-transform: uppercase;
			line-height: 60px;
			text-align: center;
			border: 2px solid $borders;
		}
	}

}

@media (min-width: 1200px) {

	.post{
		padding: 0 60px;
		
		&__intro{
			position: relative;
			padding-top: 115px;
			padding-bottom: 5px;
			text-align: center;
			border-bottom: 2px dotted $borders;
		}

		&__title{
			margin-bottom: 35px;
			font-size: 50px;
			font-weight: bold;
		}

		&__publish-date{
			display: none;
			margin-bottom: 35px;
			font-size: $f-size;
			color: $f-color4;
		}

		&__publish-date-tablet{
			position: absolute;
			top: 368px;
			left: 255px;
			width: 300px;
			font-size: $f-size;
			text-transform: uppercase;
			color: $f-color4;
			background: $bg-color2;
			overflow: hidden;
		}
		
		&__description{
			font-size: $f-size3 - 1;
			line-height: 40px;
			padding-bottom: 45px;
		}

		&__story{
			padding-top: 60px;
			padding-bottom: 0;

			h2{
				margin-bottom: 40px;
				font-size: $f-size3;
				font-weight: bold;
				text-transform: uppercase;
			}

			p{
				margin-bottom: 70px;
				font-size: $f-size2;
				line-height: 30px;

				a{
					text-decoration: underline;
					color: $f-color4;
				}

			}
			
			ul{
				margin-top: -20px;
				margin-bottom: 70px;

				li{
					position: relative;
					margin-bottom: 45px;
					padding-left: 20px;
					font-size: $f-size2;

					&:before{
						content:"";
						position: absolute;
						top: 6px;
						left: 0;
						display: block;
						border: 3px solid $red-border;
						@include prefixfree(border-radius, 50px);
					}
				}
			}

			blockquote{
				margin-top: -20px;
				margin-bottom: 70px;
				padding-right: 0;
				padding-left: 35px;
				font-size: $f-size2; 
				line-height: 30px;
				border-left: 2px solid $red-border;

				cite{
					display: block;
					font-size: $f-size2;
					font-style: italic;
					color: #8A8A8A;
				}
			}

		}

		&__btn-section-list{
			display: none;
		}
		
		&__btn-section-tablet{
			display: block;
		}

		&__btn-tablet-list{
			float: left;
			margin-top: 15px;

			li{
				float: left;
				margin-right: 0;
			}
		}
		
		&__btn-tablet-prev,
		&__btn-tablet-next{
			display: block;
			width: 260px;
			margin-bottom: 20px;
			font-size: $f-size2;
			font-weight: bold;
			color: $f-color3;
			text-transform: uppercase;
			line-height: 60px;
			text-align: center;
			border: 2px solid $borders;
		}
		
		&__btn-tablet-prev{
			margin-right: 10px;
		}

		&__btn-tablet-next{
			margin-right: 0;
		}

		&__btn-tablet-back-to-list{
			display: block;
			width: 280px;
			margin-right: 10px;
			font-size: $f-size2;
			font-weight: bold;
			color: $f-color3;
			text-transform: uppercase;
			line-height: 60px;
			text-align: center;
			border: 2px solid $borders;
		}
	}

}