.post{
	padding-top: 45px;
	
	&__intro{
		margin-bottom: 35px;
		text-align: center;
		border: 1px solid $borders;
	}

	&__title{
		margin-bottom: 35px;
		font-size: 2.1429em;	
	}

	&__publish-date{
		margin-bottom: 35px;
		font-size: .8571em;
		color: $f-color4;
	}

	&__story{

		h2{
			margin-bottom: 45px;
			font-size: 1.2857em;
			text-align: center;
		}

		p{
			margin-bottom: 45px;
		}
	}
}