.product-ad{
	padding-bottom: 325px;
	background: $bg-color3 url("../img/bg-phone.png") no-repeat 90px 600px;

	&__suggestion{
		padding: 50px 20px 0;
		background: $bg-color2;
	}

	&__suggestion-title{
		margin-bottom: 45px;
		text-align: center;
	}
	
	&__advantages{
		padding: 0 20px;
	}

	&__title{
		margin-bottom: 25px;
		text-align: center;
		font-size: 1.2em;
		font-weight: bold;
	}

	&__description{
		text-align: center;
		margin-bottom: 45px;
	}
}

@media (min-width: 480px) {

	.product-ad{
		padding-bottom: 0;
		background: none;

		&__suggestion{
			position: relative;
			padding: 65px 40px 0;
			background: $bg-color2;	
		}

		&__suggestion-title{
			margin-bottom: 10px;
			font-size: 2.8571em;
			font-weight: 300;
			text-align: center;
		}

		&__suggestion-title+p{
			padding: 0 140px;
		}
		
		&__advantages-block{
			position: relative;
			overflow: hidden;
			background: $bg-color3;

			&:before{
				content: "";
				position: absolute;
				top: -25px;
				left: 0;
				border: 55px solid transparent;
				border-top: 55px solid $bg-color2;
				border-left: 700px solid $bg-color2;
			}
			
			img{
				position: absolute;
				top: 105px;
				left: 40px;
			}

		}

		&__advantages{
			float: right;
			width: 330px;
			padding: 110px 40px 0 0;
		}

		&__title{
			margin-bottom: 25px;
			text-align: left;
			font-size: 1.2em;
			font-weight: bold;
		}

		&__description{
			line-height: 1.7em;
			text-align: left;
			margin-bottom: 40px;
		}


	}

}